

body{
	font-family: Helvetica; 
    line-height: 1.5em;
}

header{
	margin: 10px;
    padding: 10px;
	background-color: #4f4f4f;
	color: white;
    line-height: 1.2em;
	font-size: 2em;
	text-align: center;
}

footer{
    background-color: #4f4f4f;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

section{
    margin: 10px;
}

article{
    margin: 10px;
    padding: 10px;
    border: 2px dotted grey;
}

p{
    margin: 10px;
}

H1{
    text-align: center;
    color: red;
    font-size: 2em;
    font-variant-caps: small-caps;
}

h2{
    margin: 10px;
    background-color: red;
    border-left: 50px solid black;
    text-transform: capitalize;
}

#info{
    background-color: brown;
    color: white;
    width: 600px;
    border-radius: 5px;
    text-align: center;
    font-size: 1,2em;
    line-height: 2em;
    padding: 10px;
    margin: auto;
}

.documentation{
    background-color: green;
    color: white;
    padding: 10px;
}

a{
    background-color: darkgreen;
    color:greenyellow;
    padding: 5px;
    text-decoration: none;
}

a:hover{
    background-color: lawngreen;
    color: darkgreen;
}

.code{
    font-family: Courier;
    background-color: lightgray;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
}

pre{
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

tr {
    line-height: 2em;
}

th {
    background-color: #003366;
    color: white;
    height: 3em;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e0f0ff;
}

tr:last-child td {
    color: blue;
}






